@import '../../../styles/variables.scss';

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: $orange;
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	top: 0;
	left: -80%;
	transition: all 0.2s ease-in;
	box-shadow: 10px 0px 5px -5px $shadow;

	&__nav {
		box-sizing: border-box;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}

	&__link {
		text-decoration: none;
		font-size: 14px;

		&:visited {
			color: $black;
		}

		&:hover {
			text-decoration: underline;
		}

		&_active {
			font-size: 16px;
			font-weight: 700;
		}
	}
}

.open {
	left: 0;
}