@import '../../../styles/variables.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: $gray;
	box-shadow: 0px 5px 5px -5px $shadow;
	box-sizing: border-box;
	height: 70px;
}