@import '../../../../styles/variables.scss';

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $shadow;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.window {
	position: relative;
	border-radius: 6px;
	background-color: $white;
	padding: 40px 40px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	box-sizing: border-box;
	@media (max-width: '768px') {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
	&__title {
		margin: 0px;
		margin-bottom: 20px;
		box-sizing: border-box;
	}
	&__input {
		box-sizing: border-box;
		margin-bottom: 5px;
	}
	&__button-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	&__button-close-icon {
		width: 20px;
		height: 20px;
	}
	&__button-login {
		margin-top: 20px;
		align-self: flex-end;
	}
}