$orange: #ffa31a;
$orange-hover: #ffaa2b;
$orange-active: #be7b18;
$white: #ffffff;
$black: #000000;
$shadow: rgba(34, 60, 80, 0.2);
$shadow-hover: rgba(34, 60, 80, 0.4);
$gray: #D3D3D3;
$gray-dark: #909090;
$red: #ff0000;